.highlight{
    color: skyblue;
    font-weight: bold;
}
.body{
    font-family: 'Bebas Neue', cursive;
}

.bigger{
    width: 40%;
    float: left;
    height:600px;
    margin:5%;
    
    
    
}
#third{
    width: 20%;
    text-align: center;
    background-image: linear-gradient(rgb(100, 128, 0),rgb(255, 196, 0));
}
.pic{
    width: 100%;
    
}
.button{
    border-radius: 5px;
    padding: 5%;
    text-decoration: none;
    color: rgb(2, 2, 7);
    background-image: linear-gradient(rgb(0, 255, 242),rgb(114, 150, 250));
    font-weight: 700px;
    font-size: 60px;

}