body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
.namehighlight{
    color: royalblue;

}
section{
    height: 500px;
    margin: 10px;
}
.halfwidth{
    width: 30%;
    float: left;
    margin-left:  10%;
    padding-left: 2%;
    

}
.halfwidth img{
    width: 100%;
}
.banner{
   
    background-repeat: no-repeat;
   

}
p{
    padding: 10px;
    margin: 1px;
    
}
.button{
    text-decoration: none;
    color: rosybrown;
    
    border-radius: 16px;
    padding:5px 10px;
    font-weight: 700;
    background-image:linear-gradient(indigo,royalblue) ;

}
.button2{
    text-decoration: none;
    color: rgb(24, 16, 16);  
    border-radius: 16px;
    padding:10px 20px;
    font-weight: 700;
    background-image:linear-gradient(rgb(241, 218, 86),rgb(236, 156, 8)) ;

}