body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
.namehighlight{
    color: royalblue;

}
section{
    height: 500px;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left:  5%;
    padding-left: 2%;
    

}
.halfwidth img{
    width: 100%;
}
.banner{
   
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(152, 152, 250),rgb(107, 189, 243));

}
p{
    padding: 10px;
    margin: 1px;
    
}
.button{
    text-decoration: none;
    color: rosybrown;
    
    border-radius: 4px;
    padding:5px 10px;
    font-weight: 700;
    background-image:linear-gradient(indigo,royalblue) ;

}