body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
.namehighlight{
    color: royalblue;

}
section{
    height: 500px;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left:  5%;
    padding-left: 2%;
    

}
.halfwidth img{
    width: 100%;
}
.banner{
   
    background-repeat: no-repeat;
    background-color:rgb(185, 247, 227);

}